
.contacts-list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 10px;
  
  @media screen and(max-width: 767px) {
    display: none;
  }

  @media screen and(min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}

.contacts-list__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.02em;


    font-weight: 500;
    color: $secondColor;
    fill: $secondColor;

    transition: color $animation, fill $animation;

    &:hover,
    &:focus {
        color: $contrastColor;
        fill: $contrastColor;
    }

    @media screen and(min-width: 1200px) {
      font-size: 14px;
    }
}

.contacts-list__icon {
    margin-right: 10px;
}