h1 {
  width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: $whiteColor;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
}
