body {
  background-color: $whiteColor;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $mainColor;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
