/* Fonts */
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

/* Text colors */
$mainColor: rgba(33, 33, 33, 1);
$secondColor: rgba(117, 117, 117, 1);
$contrastColor: rgba(33, 150, 243, 1);
$whiteColor: rgba(255, 255, 255, 1);

/* BG colors */
$hero-bg-cl: rgba(47, 48, 58, 0.4);
$team-bg-cl: rgba(245, 244, 250, 1);
$footer-bg-cl: rgba(47, 48, 58, 1);


/* Others */
$br: 4px;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);





