.clients {
    text-align: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: center;
        gap: 30px;

        @media screen and(min-width: 1200px) {
            margin-top: 50px;
        }
    }

    &__item {
        width: calc((100% - 30px) / 2);

        @media screen and(min-width: 768px) {
            width: calc((100% - 60px) / 3);
        }

        @media screen and(min-width: 1200px) {
            width: calc((100% - 5 * 30px) / 6);
        }
    }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 170px;
    height: 92px;
    border: 1px solid $iconColor;
    border-radius: 4px;
    fill: $iconColor;

    transition: fill $animation,
    border-color $animation;

    &:hover,
    &:focus {
        fill: $contrastColor;
        border-color: $contrastColor;
    }
}

