.clients {
    text-align: center;

    &__list {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        gap: 30px;
    }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    fill: $secondColor;

    transition: fill $animation,
    border-color $animation;

    &:hover,
    &:focus {
        fill: $contrastColor;
        border-color: $contrastColor;
    }
}

