.hero {
  max-width: 1600px;
  margin: 0 auto;  
  padding: 200px 0;
  background: linear-gradient(
    $hero-bg-cl,
    $hero-bg-cl
  ), url(../img/background.jpg) no-repeat center top/cover;

  text-align: center;
  border: 1px solid #ECECEC;
  background-color: rgba(47, 48, 58, 1);

  &__btn {
    margin-top: 30px;
    border: none;
    padding: 10px 32px;
    border-radius: $br;

    background-color: $contrastColor;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: $whiteColor;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}